$mobile-max-width: 480px;
$ipadMini-max-width: 820px;
$ipadAir-max-width: 960px;
$header-active: true;

.header-active {
    transition: ease-in-out 150ms;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    align-items: center;
    background-color: white;
    padding: 1.5rem 1rem;
}

.header {
    transition: ease-in-out 150ms;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    align-items: center;
    color:white;
    padding: 1.5rem 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.left_h{
  display: flex;
  justify-content: center;
  align-items:center;
}

.modal-headers{
  display: none;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
  color: white !important;
  background-color: green !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: white !important;
  background-color: green !important;
}

.text_modal{
  color: black;
  font-size: 1.5rem;
  line-height: 5rem;
  font-weight:700;

}

.categoriesHeader{
  right: 0;
  left: 0;
  padding: 10px 50px;
}

@media only screen and (max-width: $mobile-max-width) {
  .right_h {
    display: none;
  }
  .h-categories{
    display: none;
  }
  .header-active{
    padding: 1.5rem 0rem;
  }
  .header{
    padding: 1.5rem 0rem;
  }
  .search-header{
    display: none;
  }
  .modal-headers {
    display: block;
  }
  .header {
    &-active {
      .icon_modal {
        color: black;
        border: none
      }
      .header-content {
        text-align: center;
      }
      *{
        justify-content: center;
      }
      .search-header{
        display: flex;
        flex-direction: column;
      }
      .mobile-active{
        display: flex;
      }
      .left_h{
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: $ipadMini-max-width){
  .right_h {
    display: none;
  }
  .modal-headers {
    display: block;
  }
  .header {
    &-active {
      .icon_modal {
        color: black;
        border: none
      }
    }
  }
}

@media only screen and (max-width: $ipadAir-max-width){
  .right_h{
    .rh-content{
      display: none;
    }
  }
}