.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  color: #b5b6ba !important;
}

@import "../css/Page/trust.scss";

#support {
  background-color: #f0fdf6;
}


.slick-dots {
  z-index: 0 !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
  background-color: green;
}

@import "../css/Component/Header.scss";
@import "../css/Component/Content.scss";
@import "../css/component/Testimonial.scss";

